.navbar {
    height: 10vh;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 80,
  'wght' 400,
  'GRAD' 0,
  'opsz' 10
}

.material-symbols-outlined {
    transform: scale(0.8);
}

.bt {
    display: flex;
    background: #f4f5f8;
    margin-top: 1.5rem;
    margin-left: 2rem;
    border-radius: 0.5rem;
    box-shadow: 10px 10px 10px #ebeaea;
    border: white;
    padding: 0.5rem;
    position: absolute;
    transition: transform 0.3s ease-in-out;
}

.bt.no-margin-top {
    margin-top: 0;
}

.bt-text {
    font-weight:600;
    font-family: 'Nunito Sans', sans-serif;   
    margin-top: 0.2rem;
    margin-right: 2rem;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
}

.bt-text  .h {
    color: #9d9d9d;
    font-weight: 700;
    position: relative;
}

.box {
    width: 18.5rem;
    background-color: #f7f8fa;
    margin-left: 4rem;
    margin-top: 4rem;
    line-height: 2rem;
    height: 6.5rem;
    position: absolute;
    transition: opacity 0.5s ease-in-out;
    z-index: 1;
}

.h {
    margin-top: 1.4rem;
    font-weight:600;
    font-family: 'Nunito Sans', sans-serif;
    color: rgb(157, 156, 156);
}

button {
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

button:active {
    transform: scale(0.95);
}
.opts {
    height: 25px;
    font-weight:600;
    font-family: 'Nunito Sans', sans-serif;
    color: rgb(157, 156, 156);
    margin: 1.0rem;
    margin-top: 1.6rem;
    transition: opacity 0.5s ease-in-out;
}

option {
    font-weight:600;
    font-family: 'Nunito Sans', sans-serif;
    background-color: #f4f5f8;
    color: rgb(157, 156, 156);
    border: white;
}

option:hover {
    background-color: rgb(157, 156, 156);
    border-radius: 4px;
    transition: all 0.4s;
}