.App {
  transition: all ease-in 0.25s;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.font-nunito {
  font-family: 'Nunito Sans', sans-serif;
}

.p {
  color: #e9e9e9;
}

.userD {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.userS {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.username {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  margin-left: 2.5rem;
  margin-right: 0.5rem;
}

.r {
  margin-top: -1.8rem;
}

.fn {
  color: #969595;
  font-weight: 600;
}

.material-symbols-outlined.block-icon {
  color: black;
  font-size: 36px;
}

.material-symbols-outlined.tour-icon {
  color: rgb(152, 152, 152);
  font-size: 36px;
}

.material-symbols-outlined.contrast-icon {
  color: orange;
  font-size: 36px;
}

.material-symbols-outlined.check_circle-icon {
  color: rgb(60, 60, 255);
  font-size: 36px;
}

.material-symbols-outlined.cancel-icon {
  color: rgb(255, 51, 51);
  font-size: 36px;
}

.ss {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  position: absolute;
  margin-top: 0.4rem;
  margin-left: 0.2rem;
}